.bossContainer{
    display: grid;
    grid-template-columns: 70% 30%;
}

.myContainer {
    max-width: 114rem;
    padding-left: 100px;
    margin-right: 5%;
    overflow: hidden scroll;
    height: 550px;
  }
  
  .blog-post {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    margin: 5px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

.col-left {
    width: 50%;
    padding-bottom: 20px;
    float: left;
  }
  
.col-right {
    width: 50%;
    float: right;
  }

.deals{
    overflow: hidden scroll;
  }

.single{
  grid-column-start: 1;
  grid-column-end: 3;
}

.save-btn{
  margin: 8% 30%;
}
